form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 34px;


}

spam {
    font-size: 14px;
    text-decoration: underline;

    text-align: end;
}

/* === Media Queries === */

@media (max-width: 425px) {
  form {
    gap: 16px;
    margin-bottom: 24px;
  }

  spam {
    font-size: 12px;
    text-align: center;
  }
}
