@import "../../../styles/variaveis.scss";

.input-wrapper {
  font-size: 16px;
  text-align: start;

  .app-primary-input label {
    margin-bottom: 20px;
  }

  .input-content {
    width: 100%;
    display: flex;
    border-radius: 8px;

    .icon {
      padding: 12px;
      background-color: $roxo;
      border-radius: 0 8px 8px 0;

      img {
        height: 20px;
      }
    }
  }

  input {
    background-color: $cinza;
    border: none;
    color: $cinza-escuro;
    border-radius: 8px 0 0 8px;
    padding: 12px 0 12px 20px;
    width: 100%;
  }
}
