@import "../../../styles/variaveis.scss";

.input-wrapper {
  font-size: 16px;
  text-align: start;

  .app-primary-input label {
    margin-bottom: 20px;
  }

  .input-content {
    width: 100%;
    display: flex;
    border-radius: 8px;

    .icon {
      padding: 12px;
      background-color: $roxo;
      border-radius: 0 8px 8px 0;

      img {
        height: 20px;
      }
    }
  }

  input {
    background-color: $cinza;
    border: none;
    color: $cinza-escuro;
    border-radius: 8px 0 0 8px;
    padding: 12px 0 12px 20px;
    width: 100%;
  }
}

/* === Media Queries === */

/* Mobile */
@media (max-width: 425px) {
  .input-wrapper {
    font-size: 14px;

    .input-content {
      flex-direction: row;

      .icon {
        padding: 10px;

        img {
          height: 16px;
        }
      }
    }

    input {
      padding: 10px 0 10px 16px;
    }
  }
}

/* Tablet */
@media (max-width: 768px) {
  .input-wrapper {
    font-size: 15px;
  }
}
