@import "../../../styles/variaveis.scss";


form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 34px;

}

.forget {
    font-size: 14px;
    text-decoration: underline;
    color: $azul;
    text-align: end;
}

/* === Media Queries === */

@media (max-width: 425px) {
  form {
    gap: 16px;
    margin-bottom: 24px;
  }

  .forget {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .forget {
    text-align: center;
  }
}
